{% extends 'oscar/dashboard/layout.html' %}
{% load i18n static %}

{% block body_class %}{{ block.super }} calendar{% endblock %}

{% block title %}
    {% trans "Calendar" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {% trans "Calendar" %}
            </li>
        </ol>
    </nav>
{% endblock %}

{% block header %}
    <!-- <div class="page-header">
        <h1>{% trans "This is a demo of a django-schedule calendar" %}</h1>
    </div> -->
{% endblock header %}

{% block dashboard_content %}
    {% if messages %}
        <ul id="messages" class="alert alert-info">
            {% for message in messages %}
                <li id="message_{{ forloop.counter }}">
                    <a href="#" onclick="$('#message_{{ forloop.counter }}').fadeOut(); return false;">
                        <small>{% trans "clear" %}</small>
                    </a>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="card card-body">
        {% block body %}
        {% endblock %}
    </div>
{% endblock dashboard_content %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% static 'schedule.css' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% static 'jquery-ui/themes/base/all.css' %}" type="text/css" media="screen">
    <script type="text/javascript" src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'schedule.js' %}"></script>
{% endblock extra_head %}

{% block footer %}
    <div id="footer" class="mt-4 text-center">
        <p>{% trans "Footer content here." %}</p>
    </div>
{% endblock footer %}

{% block onbodyload %}
    {{ block.super }}
    // Initialize any specific JavaScript required for this demo
{% endblock onbodyload %}
